.container__header{
    min-height: 60px;
    position: fixed;
    display: flex;
    align-items: center;
    padding: 0 20px;
    top: 0;
    left: 0;
    right: 0;
}

.title__header{
    text-align: center;
    font-size: 1.5em;
    font-weight: 700;
    text-shadow: 0px 0px 5px lightgray, 0px 0px 7px lightgray;
}

.header__menu{
    display: flex;
    align-items: center;
    justify-content: center;
    flex: 1;
}
.header__menu > p{
    font-weight: 600;
    margin-right: 10px;
    cursor: pointer;
    padding: 10px;
}

.header__menu > p:hover{
    background-color: lightgray;
    
    border-radius: 10%;
}

.right__menu > p{
    font-weight: 600;
    padding: 0 10px;
}
.right__menu >p:hover{
    cursor: pointer;
    background-color: lightgray;
    border-radius: 10%;
}