/* .App{
    overflow-wrap: anywhere;
}
.top_part{
    display: flex;
    align-items: center;
    justify-content: space-around;
    padding:100px;
    background-color: red;
}

.food__items{
    display: grid;
    grid-template-columns: repeat(4,1fr);
    grid-gap: 50px;
    margin: auto;
} */